#l1
{
	left:100px;
	top:100px;
	width:80px;
	height:80px;
	background: white;
	border-style: solid;
	border-width: 3px;
	position:absolute;	
}
#l2
{
	left:180px;
	top:100px;
	width:80px;
	height:80px;
	background: white;
	border-style: solid;
	border-width: 3px;
	position:absolute;


}

#l3
{
	left:260px;
	top:100px;
	width:80px;
	height:80px;
	background: white;
	border-style: solid;
	border-width: 3px;
	position:absolute;

}
#l4
{
	left:100px;
	top:180px;
	width:80px;
	height:80px;
	background: white;
	border-style: solid;
	border-width: 3px;
	position:absolute;

}
#l5
{
	left:180px;
	top:180px;
	width:80px;
	height:80px;
	background: white;
	border-style: solid;
	border-width: 3px;
	position:absolute;

}
#l6
{
	left:260px;
	top:180px;
	width:80px;
	height:80px;
	background: white;
	border-style: solid;
	border-width: 3px;
	position:absolute;

}
#l7
{
	left:100px;
	top:260px;
	width:80px;
	height:80px;
	background: white;
	border-style: solid;
	border-width: 3px;
	position:absolute;

}
#l8
{
	left:180px;
	top:260px;
	width:80px;
	height:80px;
	background: white;
	border-style: solid;
	border-width: 3px;
	position:absolute;

}
#l9
{
	left:260px;
	top:260px;
	width:80px;
	height:80px;
	background: white;
	border-style: solid;
	border-width: 3px;
	position:absolute;

}




#select{
	
	
	left:500px;
	top:100px;
	width:300px;
	height:100px;
	background: cyan;
	border-style: solid;
	border-width: 3px;
	position:relative;	
}

#cross
{
	left:20px;
	right:100px;
	top:10px;
	width:90px;
	height:70px;
	background-image: url('cross.png');
	border-style: solid;
	border-width: 3px;
	position:absolute;	
}
#circle
{
	left:200px;
	right:10px;
	top:10px;
	width:90px;
	height:80px;
	background-image: url('circle.png');
	border-style: solid;
	border-width: 3px;
	position:absolute;	
}

.dis{
	display: none;
}
